body{
    background-color:rgb(100, 80, 255);
    color: white;
}
button{
    background-color: rgb(147, 239, 55);
    font-size: medium ;
}
h1{
    background-color: rgb(217, 47, 81);
}
.modal-body {
    background-color:rgb(100, 80, 255);
}
#papa{
    float: right;
}