body{
    background-color:rgb(100, 80, 255);
    color: white;
}
button{
    background-color: rgb(76, 137, 14);
    font-size: medium ;
}
h1{
    background-color: rgb(217, 47, 81);
}
.modal-body {
    background-color:rgb(100, 80, 255);
}
#papa{
    float: right;
}
canvas{
    border-style:dotted;
    border-color:rgb(255, 250, 102);
    border-width: 18px;
}